*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  //font-family: 'Nunito', sans-serif;
  font-family:'Open Sans', sans-serif;
  //color: #384047;
  color:#FFFFFF;
  background-color:#0074E8;
  background-image:url(../images/bgd3.jpg);
  background-size:cover;
  background-position:center;
  //align-items:center;
}

.header	{ margin:10px auto;
		font-size:36px;
		font-weight:100;
		text-align:center;
		margin-top:5%}
.red-alert {font-size:16px; background-color: #FFDDDD; color:red ; border: red 1px dashed; padding:7px 15px; width:100%; 
text-align:center; box-sizing:border-box;}

.green-alert {font-size:16px; background-color: #FFDDDD; color:green ; border: red 1px dashed; padding:7px 15px; width:100%; 
text-align:center; box-sizing:border-box;}

.alert	{ text-align:center;
		color:#ccc;
		margin-bottom:10px;
		height:16px;
		font-size:14px !important;}

a	{ color:inherit !important;
		text-decoration:none;}

.back-home	{ color:#4bc970;
			//text-decoration:underline;
			}
			
.back-home:hover	{ text-decoration:underline;}

#price	{ background-color:#FA5505;
		color:#FFFFFF;
		text-align:center;
		box-shadow:rgba(204,204,204,1) 0 0 5px;}

form {
  width: 500px;
  margin: 10px auto;
  padding: 20px 40px;
  //background: #f4f7f8;
  border-radius: 5px;
  //background: rgba(255,255,255,0.3);
  //background-color: rgba(102,102,102,0.3);
  //background-color: rgba(47,0,94,0.8);
  background-color: rgba(0,0,51,0.8);
  box-shadow: rgba(51,51,51,1) 0 0 10px;
  margin-top:5%;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 12px 10px;
  width: 100%;
  //background-color: #e8eeef;
  //background-color: rgba(255,255,255,0.8);
  background-color:transparent;
  //color: #8a97a0;
  color:#bbb;
 // color: rgba(102,102,102,1);
  box-shadow: 0 1px 0 rgba(0,0,0,0.3) inset;
  margin-bottom: 30px;
  border-radius:3px;
  border:#FFFFFF solid 1px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  //height: 32px;
  border-radius: 2px;
}

button {
  padding: 10px 20px;
  color: #FFF;
  //background-color: #4bc970;
  background-color:#00AE57;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 50%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

button:hover	{ background-color: rgba(0,128,64,1);
				transition-duration:0.5s;
				cursor:pointer;}

fieldset {
 // margin-bottom: 30px;
  border: none;
  padding: 0;
}

legend{
	  //font-size: 2.4em;
	text-align:center;
	//margin-bottom: 10px;
	//border-radius:25px;
	height:50px;
	//background-color:white;
	align-items:center;
	//padding:10px;
}


label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.fa {
  position: absolute;
  right: 15px;
  top: 12px;
  color: #bbb;
  //color:rgba(245,63,10,1);
  font-size:20px !important;
}

.form-group	{ position:relative;
			//margin-bottom: 15px;}

.req	{ color:red;}

.footer	{ max-width: 100%;
  margin: 10px auto;
  padding: 20px;
  color:#ccc;
  text-align:center;}




@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

.footer {
    max-width: 480px;
  }


}